<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<section class="sub-header background">
    <nav>
        <a href="index.html"><img src="PROJECT IMAGE.png"></a><p><h1>TRACK YOUR WALLET</h1></p>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times-circle" onclick="hidemenu()"></i>
              <ul>
                <li><a href="mainproject.html">HOME</a></li>
                <li><a href="about us.html">ABOUT</a></li>
                <li><a href="">BENEFITS</a></li>
                <li><a href="blog.html">BLOG</a></li>
                <li><a href="">CONTACT</a></li>
              </ul>
        </div>
        <i class="fa fa-bars" onclick="showmenu()"></i>
    </nav>
    <h1 class="">our benefits</h1>
</section>
<section class="our-benefits">
    <h1>Features our user love</h1>

    <div class="row">
        <div class="benefits-col">
            <img src="currency.jpg" class="currency">
            <h3>Multiple currencies</h3>
            <p>are favoured by travellers and digital nomads managing money in more currencies.</p>
        </div>
        <div class="benefits-col">
            <img src="wallet.jpg" class="wallet">
            <h3>Shared wallets</h3>
            <p>are popular among couples, families and roommates who handle their finances in track your wallet</p>
        </div>
        <div class="benefits-col">
            <img src="bell.jpg" class="bell">
            <h3>Alerts and reminders</h3>
            <p>track your wallet will notify you to pay the bill or not to exceed the budget.</p>
        </div>
    </div>
    <div class="row2">
        <div class="benefits-col1">
            <img src="4.svg">
            <h3>Saving plan</h3>
            <p>.Keep track on savings process to meet your financial goals.</p>
        </div>
        <div class="benefits-col1">
            <img src="6.svg">
            <h3>Scan Reciept</h3>
            <p>Take pictures of your receipts to auto-process and organize them.</p>
        </div>
        <div class="benefits-col1">
            <img src="1.svg">
            <h3>Sync and backup</h3>
            <p>is valuable for everyone using Track your wallet across devices and sharing Track your wallet with others.Safely synchronize across devices with Bank standard security.</p>
        </div>
    </div>
</section>

<section class="facilities">
    <div class="uses">
        <div class="use1">
            <h2>BE INCHARGE OF YOUR EXPENSES</h2>
            <p>know your expenses and savings for your future </p>
            <img src="spending.jpg">
            <ul class="list1">
                <li><h4>INSIGHTS</h4></li>
                <li>Visualize spending trends and easily spot irregularities.</li><br>
                <li><h4>BUDGETS</h4></li>
                <li>Proactively allocate & control where your money goes.</li><br>
                <li><h4>REAL TIME ALERTS</h4></li>
                <li>Get alerts when you exceed your spending limits.</li>
            </ul>
        </div>
        <div class="use1">
            <h2>ACHIEVE YOUR DREAMS</h2>
            <p>plan your expenditure Effortlessly for a better future</p>
            <img class="img2" src="planning.jpg">
            <ul class="list1">
                <li><h4>RETIREMENT PLANNER</h4></li>
                <li>Plan for long-term goals like retirement & kid's education</li><br>
                <li><h4>INVESTMENTS</h4></li>
                <li>Track your entire portfolio. Watch your nest egg grow.</li><br>
            </ul>
        </div>
    </div>
</section>

<section class="footer newfooter">
    <h4>About us</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, pariatur nobis optio adipisci officia eaque perferendis
    soluta, ab illo quibusdam, corrupti iusto accusamus enim rem eum id obcaecati repellat illum?<br>Et veniam assumenda
    asperiores suscipit provident dolore vero impedit nobis.</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-google"></i>
    </div>
</section>

<!----Javascript---->
<script>
    var navLinks = document.getElementById("navLinks");
    function showmenu(){
        navLinks.style.right = "0";
    }
    function hidemenu(){
        navLinks.style.right = "-200px";
    }
</script>
</body>
</html>